* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* uisng flexbox */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item-1 {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}

/* uisng grid */

/* .container {
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
}

.item-1 {
    width: 100px;
    height: 100px;

    background-color: red;
    margin: 10px;
} */


/* uisng position */
/* .container {
    background-color: aqua;
    height: 100vh;
    position: relative;


}

[class ^="item-"] {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;

}

.item-1 {
    top: 0;
    left: 0;
}

.item-2 {
    bottom: 0;
    right: 0;
} */