p {

    color: blue;
    text-align: left;
    background-color: aquamarine;
}

table,
th,
td {

    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

#first {

    background-color: aqua;
}

.second {
    background-color: brown;
}

form {

    text-align: center;
}

h3 {
    text-align: center;
}
input{
    padding: 5px;
}